<div class="row">
	<h1>Nuevo Trabajador</h1>
</div>

<%= render 'form_new', trabajador: @trabajador %>

<div class="row">
	<%= link_to 'Atrás', centro_path(@centro), class: "btn btn-success" %>
</div>
