<div class="row">
	<h1>Editando <%= @user.email %></h1>
</div>

<%= render 'form', user: @user %>

<div class="row">
	<%= link_to 'Mostrar', @user, class: "btn btn-warning" %> 
</div>
<div class="row">
	<%= link_to 'Atrás', users_path, class: "btn btn-danger" %>
</div>
