<div class="row">
	<h1>Editar Responsable</h1>
</div>


<%= render 'form_edit', responsable: @responsable %>

<div class="row">
	<%= link_to 'Mostrar', responsable_path(@responsable),
		class: "btn btn-warning" %>
</div>

<div class="row">
	<%= link_to 'Atrás', empresa_path(@empresa),
			class: "btn btn-danger" %>
</div>
