<div class="row">
	<h1>Nuevo Responsable</h1>
</div>

<%= render 'form_responsable_new', responsable: @responsable %>

<div class="row">
	<%= link_to 'Atrás', empresa_path(@empresa),
			class: "btn btn-danger text-white" %>
</div>
