<div class="row text-center">
	<h1>Editar Medidas de Emergencia de:
	<h2> <%= @medida.centro.nombre %></h1></h2>
</div>

<div class="row">
	<%= render "medidas/medida_form" %>
</div>

<div class="row">
	<%= link_to "Atrás", @empresa, class: "btn btn-danger" %>
</div>
