<div class="row">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingInformes">
			<button class="accordion-button collapsed" type="button"
			data-bs-toggle="collapse" data-bs-target="#collapseInformes"
			aria-expanded="false" aria-controls="collapseInformes">
				Informes <span class="mx-2">
				<% if @empresa.informes.empty? %>
					<div class="badge bg-danger">
						No hay informes creados
					</div>
				<% end %>
				</span>
			</button>
		</h2>
		<div id="collapseInformes" class="accordion-collapse collapse"
		aria-labelledby="headingInformes" data-bs-parent="#accordionEmpresa">
			<div class="accordion-body">
				<div class="col-12">
					<%= render "empresas/modal_informe_plan" %>
				</div>
				<div class="col-12 mt-1">
					<%= render "empresas/modal_informe_eval" %>
				</div>
			</div>
		</div>
	</div>
</div>
