<div class="row">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingPreventiva">
			<button class="accordion-button collapsed" type="button"
			data-bs-toggle="collapse" data-bs-target="#collapsePreventiva"
			aria-expanded="false" aria-controls="collapsePreventiva">
				Organización preventiva
			</button>
		</h2>
		<div id="collapsePreventiva" class="accordion-collapse collapse"
		aria-labelledby="headingPreventiva" data-bs-parent="#accordionEmpresaDos">
			<div class="accordion-body">

			</div>
		</div>
	</div>
</div>
