<div class="row">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingPracticas">
			<button class="accordion-button collapsed" type="button"
			data-bs-toggle="collapse" data-bs-target="#collapsePracticas"
			aria-expanded="false" aria-controls="collapsePracticas">
				Prácticas, procedimientos y procesos
				<% if !@empresa.practica %>
					<span class= "mx-2 badge bg-danger">No creado aún</span>
				<% end %>
			</button>
		</h2>
		<div id="collapsePracticas" class="accordion-collapse collapse"
		aria-labelledby="headingPracticas" data-bs-parent="#accordionEmpresaDos">
			<div class="accordion-body">
				<%= render "practicas/practica_form" %>
			</div>
		</div>
	</div>
</div>
