<div class="row">
	<h1>Editando empresa</h1>
</div>

<%= render 'form', empresa: @empresa %>

<div class="row">
	<%= link_to 'Mostrar', @empresa, class: "btn btn-info" %>
</div>

<div class="row">
  <%= link_to 'Atrás', @empresa, class: "btn btn-danger" %>
</div>
