// Place all the styles related to the empresas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#showEmpresa th {
	color: white;
	background-color: black;
	border: white 1px solid ;
	border-color: white;
}
