<div class="row">
	<h1>Nueva Organizaci칩n Empresarial de <%= @empresa.razon_social %></h1>
</div>

<div class="row text-center">
	<h4>Indique cu치les de los siguientes niveles jer치rquicos est치n presentes en la empresa</h4>
	<%= render "organizacion_empresarials/organizacion_empresarial_form_new" %>
</div>
