<div class="row">
	<h1>Editando Centro <%= @centro.nombre %></h1>
</div>

<%= render 'form_edit', centro: @centro %>

<div class="row">
	<%= link_to 'Mostrar', centro_path(@centro),
			class: "btn btn-warning text-white" %>
</div>

<div class="row">
	<%= link_to 'Atrás', empresa_path(@centro.empresa_id),
			class: "btn btn-danger text-white" %>
</div>
