<div class="row">
	<h1>Nuevo Centro</h1>
</div>

<%= render 'form_new', centro: @centro %>

<div class="row">
	<%= link_to 'Atrás', empresa_path(@empresa),
			class: "btn btn-danger text-white" %>
</div>
